name: Lints
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: pipx install poetry
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: poetry
      - name: setup
        run: poetry install --no-interaction --no-ansi
      - run: poetry run flake8 .
      - run: poetry run black .
      - run: poetry run poetry check
